* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
}

.background {
    background-position: center;
    background-size: cover;
    background-image: url("../resources/penandpaper.jpg");
    background-repeat: no-repeat;
    height: 100%;
}

.background-color {
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    display: block;
    height: 100vh;
    width: 100vh;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.header {
    margin-bottom: 10px;
}

.form-input {
    display: inline-block;
}